body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin: 5px 10px;
    background: #003554e3;
    color: whitesmoke;
}

.wrapper{
    border: 3px solid whitesmoke;
    width: 30vw;
    height: max-content;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
}

.login-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 18px;
    padding: 12px;
}

.input-label{
    cursor: pointer;
    font-size: 17px;
}

.input-box{
    width: 24vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 8px;
}

.form-control{
    border: none;
    outline: none;
    font: inherit;
    height: 4vh;
    width: 17vw;
    border-radius: 10px;
    padding: 4px;
    transition: all 0.35s ease;
}

.form-control:active, .form-control:focus, .form-control:hover{
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.submit-btn{
    font: inherit;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 8px;
    transition: all 0.45s ease;
}

.submit-btn:hover{
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.anchor{
    text-decoration: none;
    font: inherit;
    color: inherit;
    transition: all 0.5s ease;
}

.anchor:hover{
    font-size: 17px;
}


.register{
    width: 20vw;
    margin: 8px;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-details{
    margin: 12px;
    padding: 10px;
    height: 7vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main-logo{
    width: 5vw;
    height: 10vh;

    transition: all 0.45s ease;
}